# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

#DATABASE
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password="
set es_enableCustomData 1

# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap

#inserted trough ZAP ressourcesystem
start bob74_ipl
start PvP
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2

## From ESX Pack ##
start async
start cron
start es_extended
start esx_addons_gcphone
start gcphone
start instance
start es_camera
start skinchanger
start esx_accessories
start esx_addonaccount
start esx_addoninventory
start esx_society

 #start esx_phone
start esx_policejob
start esx_ambulancejob
start esx_animations
start esx_atm
start esx_bankerjob
start esx_barbershop
start esx_basicneeds
start esx_billing
start esx_boat
start esx_boilerplate
start esx_clotheshop
start esx_cruisecontrol
start esx_datastore
start esx_dmvschool
start esx_drugs
start esx_garage
start esx_holdup
start esx_identity
start esx_joblisting
start esx_jobs
start esx_license
start esx_lscustom
start esx_mechanicjob
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_migrate
start esx_optionalneeds
start esx_property
start esx_realestateagentjob
start esx_rpchat
start esx_service
start esx_shops
start esx_sit
start esx_skin
start esx_status
start esx_taxijob
start esx_vehicleshop
start esx_voice
start esx_weaponshop
start new_banking
start XGame-Loading-Screen-FiveM
start LegacyFuel
start progressBars
start RadarWhileDriving
start trew_hud_ui
start jsfour-idcard
start log_info
start pNotify
start esx_inventoryhud
start krz_personalmenu
start esx_vehicle_inventory
start No-NPC
start es_carwash
start esx-kr-vehicle-push
start esx_vangelico_robbery
start esx_grove
start esx_Vagos
start esx_scoreboard
start esx_doorlock
start principalbankrobbery
start esx_garbagecrew_v2
start esx_status

# kleidung
start nikepants


# maps
start lossantos
start mlo_cardealer
start pillbox-v2


## End of ESX Pack ##
start es_ui
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.sets allow
start rconlog
start scoreboard

sv_scriptHookAllowed 0

# change this
rcon_password changeme

sv_hostname "Created Using FXServer Creator"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 "

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licenseKey "none"

set steam_webApiKey "none"

